{% extends "public/templates/public_template.html" %}

{% block title %}Dashboard{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Benvenuto nella tua pagina personale</h5>
                    <a href="/sign-out" class="btn btn-primary">Logout</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">I tuoi dati</h5>
                    <p class="card-text">
                        <strong>ID:</strong> {{session['user']['_id'] }}<br>
                        <strong>Username:</strong> {{session['user']['username'] }}<br>
                        <strong>Email:</strong> {{session['user']['email'] }}<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}