{% extends "public/templates/public_template.html" %}

{% block title %}Home{% endblock %}

{% block main %}
    <h1>Home</h1>

    <div id="chart1" data-plot="{{ plot1 }}"></div>
    <div id="chart2" style="display: none; height: 450px; width:1536px;" data-plot="{{ plot2 }}"></div>

    <button id="chart1Button">Grafico 1</button>
    <button id="chart2Button">Grafico 2</button>
{% endblock %}

