{% extends "public/templates/public_template.html" %}

{% block title %}Login{% endblock %}

{% block main %}
    <div class="container">
        <div class="column">
            <h1>Login</h1>
            <hr>
            <form action="/login" method="post" name="login_form">

                <div class="form-group">
                    <label>Username</label>
                    <input class="form-control" type="text" name="username">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="password" name="password">
                </div>
                <hr>
                <button type="submit" class="btn btn-primary">Login</button>
                {% if get_flashed_messages() %}
                    <div class="alert alert-danger">
                        {{ get_flashed_messages() }}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

{% endblock %}