{% extends "public/templates/public_template.html" %}

{% block title %}Sign-up{% endblock %}

{% block main %}
    <div class="container">
        <div class="column">
            <h1>Registrati</h1>
            <hr>
            <form action="/sign-up" method="post" name="signup_form">

                <div class="form-group">
                    <label>Username</label>
                    <input class="form-control" type="text" name="username">
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="email" name="email">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="password" name="password">
                </div>
                <hr>
                <button type="submit" class="btn btn-primary">Sign up</button>

                {% if get_flashed_messages() %}
                    <div class="alert alert-danger">
                        {{ get_flashed_messages() }}
                    </div>
                {% endif %}

            </form>
        </div>
    </div>

{% endblock %}